<p id="notice"><%= notice %></p>

<p>
  <b>Mã:</b>
  <%= @cokhungthoigian.id %>
</p>

<p>
  <b>Biển số xe:</b>
  <%= @cokhungthoigian.biensoxe %>
</p>

<p>
  <b>Lượt:</b>
  <% @luot = @cokhungthoigian.luot %>
 <% if @luot == 0  %>  Đi <% else %> Về    <% end %>

</p>

<p>
  <b>Thời gian:</b>
  <% @khungthoigian = Khungthoigian.find(@cokhungthoigian.makhungtg)
     @di = @khungthoigian.di
     @den = @khungthoigian.den %>
  <%= @di.strftime("%H:%M:%S") %> - <%= @den.strftime("%H:%M:%S") %>
</p>


<%= link_to 'Cập nhật', edit_cokhungthoigian_path(@khungthoigian), :class => 'btn' %> |
<%= link_to 'Quay lại danh sách', cokhungthoigians_path, :class => 'btn' %>