<p id="notice"><%= notice %></p>

<p>
  <b>Mã:</b>
  <%= @taikhoan.id %>
</p>

<p>
  <b>Tên tài khoản:</b>
  <%= @taikhoan.tentk %>
</p>

<p>
  <b>Công ty:</b>
  <%= @taikhoan.mact %>
</p>


<%= link_to 'Cập nhật', edit_taikhoan_path(@taikhoan), :class => 'btn' %> |
<%= link_to 'Quay lại danh sách', taikhoans_path, :class => 'btn' %>
